# Ignore everything
*

# Include files and directories in the docker image when running COPY
!.yarn/**
!.pnp.cjs
!.pnp.js
!.pnp.loader.mjs
!.yarnrc.yml
!yarn.lock
!packages/**
!types/**
!**/.eslintrc.js
!**/.prettierrc
!**/nest-cli.json
!**/package.json
!**/tsconfig.json
!**/tsconfig.backend.json
!**/tsconfig.build.json
!**/types/**

# Ignore inside allowed directories (you will most probably never want this in a docker image)
**/*.md
**/.env*
**/.gitignore
**/Dockerfile
**/jest.config.js
**/dist/
**/test/
.yarn/sdks/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
