.husky/**
.yarn/**
.dockerignore
.editorconfig
.env*
.eslintignore
.gitignore
.nvmrc
.pnp.cjs
.pnp.loader.mjs
.prettierignore
.prettierrc
.yarnrc
db/**
Dockerfile
LICENSE
package.json
yarn.lock
*.css
*.http
*.sh
*.spec.ts.snap
*.svg
*.zip
**/.cache/**
**/.errors/**
**/.vscode/**
**/.yarn/**
**/assets/**
**/build/**
**/coverage/**
**/dist/**
**/lib/**
**/public/**
